* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
    --main-color: #172D41;
	--nav-color: #2B2E76;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--main-color);
}

.container {
	max-width: 1900px;
	margin: 0 auto;
}

header {
	background-color: var(--nav-color);
	border-bottom: 0.2rem solid #092636;
}

nav{
	display: flex;
	justify-content: space-around;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.nav img {
	height: 120px;
	padding-left: 15px;
	padding-bottom: 5px;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;

}

nav li{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 12px;
	text-decoration: none;
	color: white;
}

li a:hover
{
    text-decoration: none;
	color: white;
	background-color: black;
	padding: 10px 20px;
	border: 2px solid rgb(0, 0, 0);
	transition: all 0.5s ease-in-out;
}

a {
	color: white;
	text-decoration: none;
  }